* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ede5e5;
    ;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #2b4d29;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 10px solid #8b4513;
    border-radius: 10px;
    height: 550px;
    /* Adjust the height as needed */
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 36px;
    font-family: "Arial", sans-serif;
    text-decoration: underline;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    color: #333;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

.form-group select,
.form-group input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #262626;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    width: 60%;
    height: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    overflow: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-container {
    text-align: center;
    margin-top: 20px;
    color: #17450e;
}

.result-container h2 {
    font-size: 24px;
}